.download-container{
    margin: auto auto;
    align-items: center;
    width: 60%;
    margin-bottom: 50px;
    padding: 1em;
}

.download_button{
    display: flex;
    justify-content: center;
    margin-bottom : 100px ;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.download_data {
    padding: 1em;
    margin: 1em;
}

.title{
    font-weight: bold;
}
